form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

input {
    width: 50%;
}

span {
    color: red;
    position: absolute;
    top: 45%;
    left: 55%;
}

button {
    background-color: dodgerblue;
    border: 3px solid #fff;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
    width: 15%;
}

button:hover {
    background-color: #fff;
    border: 3px solid dodgerblue;
    color: dodgerblue;
}

.valid-input {
    outline: none;
}

.not-valid-input {
    outline: 2px solid red;
}