#p_1 {
    display: block;
}

button {
    background-color: darkgreen;
    border: 2px solid green;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    outline: none;
}

figure {
    display: none;
    margin: 10px 0;
}